// login
.login {
  @include widthAndHeight(100%);
  background: url(../static/image/login_bg.png) no-repeat;
  @include bg-size();
  position: relative;

  &-box {
    width: 883px;
    height: 477px;
    @include center(all);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
    background: $white;
    @include radius(5px);
  }

  &-logo {
    width: 335px;
    height: 322px;
    margin: 98px 0 0 90px;
  }

  &-info {
    float: right;
    width: 260px;
    margin: 58px 70px 0 0;

    &-title {
      font-size: 30px;
      color: $fontColor;
    }

    &-sup {
      font-size: 18px;
      letter-spacing: 2px;
      color: $primary;
    }

    &-form {
      margin-top: $globalMargin;
    }

    .el-input__inner {
      border-top: none;
      border-left: none;
      border-right: none;
      background: transparent;
    }

    .el-button.is-round {
      width: 100%;
      font-size: 18px;
      padding: 0;
      line-height: 35px;
      letter-spacing: 1px;
      background-blend-mode: normal, normal;
    }
  }

  &-footer {
    text-align: center;
    @include user-select();

    .blue {
      color: $primary;
      cursor: pointer;
    }
  }
}

// register
.register {
  @include widthAndHeight(100%);
  background: url(../static/image/bg.png) no-repeat;
  @include bg-size();
  position: relative;

  &-box {
    @include center(all);
    box-shadow: 0 2px 11px 0 rgba(4, 132, 254, 0.57);
    background: $white;
    @include radius(5px);
  }

  &-info {
    width: 300px;
    padding: $globalMargin $globalMargin * 3 0;

    &-title {
      font-size: 30px;
      color: $fontColor;
    }

    &-sup {
      font-size: 18px;
      letter-spacing: 2px;
      color: #81bffb;
    }

    &-form {
      margin-top: $globalMargin;
    }

    .el-input__inner {
      border-top: none;
      border-left: none;
      border-right: none;
      background: transparent;
    }

    .el-button.is-round {
      width: 100%;
      font-size: 18px;
      padding: 0;
      line-height: 35px;
      letter-spacing: 1px;
      box-shadow: 0 2px 11px 0 rgba(4, 132, 254, 0.57);
      background-image: linear-gradient(180deg,
        #0482fe 0%,
        #049ffe 100%),
      linear-gradient(
          #ffde00,
          #ffde00);
      background-blend-mode: normal, normal;
    }
  }

  &-facecode {
    .el-form-item__content {
      display: flex;
    }

    .el-input {
      width: 60%;
    }

    .facecode-img {
      width: 40%;
      height: 100%;
      margin-left: $globalMargin / 2;

      .image-error {
        @include flex;
        @include align-items(center);
        @include justify-content(center);
    }

      i {
        position: relative;
        left: auto;
        top: auto;
        font-size: 40px;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-footer {
    text-align: center;
    @include user-select();

    .blue {
      color: $primary;
      cursor: pointer;
    }
  }
}
