.ant-form-item {
    margin-bottom: 6px;
  .select-in-afi {
    width: 100%;
    input{
      padding: 0.04rem 0.11rem;
      height: 0.32rem;
      font-size: 0.14rem;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      background-image: none;
      border: 0.01rem solid #d9d9d9;
      border-radius: 0.04rem;
    }
  }
}
